
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

<link rel="stylesheet" href="/stylesheets/footer.css">
<footer style="margin-top:300px;" class="footer-distributed">

			<div class="footer-right">

				<a href="https://twitter.com/WebKathas"><i class="fab fa-twitter "></i></a>
				<a href="https://www.facebook.com/webkathas/"><i class="fab fa-facebook "></i></a>
				<a href="https://www.instagram.com/webkathas/"><i class="fab fa-instagram"></i></i></a>
				

			</div>

			<div class="footer-left">

				<p class="footer-links">
					<a href="/">Home</a>
					·
					<a href="/about">About</a>
					·
					<a href="/guidance">Faq</a>
					·
					<a href="#">email:webkathas@gmail.com</a>
				</p>

				<p>Web Kathas &copy; 2018 All rights reserved</p>
			</div>

		</footer>

</body>
</html>