<% include ../partials/header %>

<div style="padding-right:100px;" class="container">
       
        <div class="items">
            <div class="row">
            <div class="col-md-12">
                <table class="table table-dark">
                    <thead>
                     <tr>
                    <th scope="col">Book Name</th>
                     <th scope="col">Author</th>
                      <% if(currentUser &&currentUser.isAdmin) {%>
                     <th scope="col">Option</th>
                     <% } %>
                  </tr>
                    </thead>
                    <tbody>
                    <% guidance.forEach(function(Book){ %>
                <tr>
                    <td>
                         <a href="/books/<%=Book.bookid%>">
                    <img style="height: 125px;width: 100px;"class="img-thumbnail "src="<%=Book.image%>">
                    <p><%=Book.title%></p>
                </a>
                
                    </td>
                    <td>
                        WebKathas
                    </td>
                    <td>
                        <% if(currentUser &&currentUser.isAdmin) {%>
                      <a class="btn btn-warning" href="/guidance/edit/<%=Book._id%>">Edit</a>
                      <% } %>
                    </td>
                </tr>
                 <% })%>
                 </tbody>
                   </table>
                </div>
           
        </div>
        </div>
       
       
    </div>
    <script>
        setTimeout(function(){
            $('#Error').fadeOut('fast');
            $('#Success').fadeOut('fast');
        },5000)
    </script>
    <% include ../partials/footer %>